@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 740px;
  margin: 0 auto;
}

.heading h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
}

.btn {
  height: 20px;
  background: #418DE5;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 0 15px;
}

.search {
  margin-top: 53px;
  position: relative;
}
.search button {
  padding: 0;
  border: 0;
  background: transparent;
  position: absolute;
  top: 5px;
  right: 15px;
}
.search button:hover {
  cursor: pointer;
}
.search input {
  width: 100%;
  height: 33px;
  font-size: 16px;
  color: #595959;
  border: 1px solid #595959;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  padding-left: 24px;
  box-sizing: border-box;
}
.search input::-moz-placeholder {
  color: #595959;
  opacity: 1;
}
.search input::-webkit-input-placeholder {
  color: #595959;
  opacity: 1;
}

.main-header {
  background: #494949;
  padding: 7px 0;
}
.main-header .container {
  display: flex;
  align-items: center;
}
.main-header .logo {
  flex-basis: 35px;
}
.main-header-site {
  text-align: center;
  flex-basis: calc(100% - 175px);
}
.main-header-site a {
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  margin-left: 105px;
  display: inline-block;
}
.main-header .personal-btn span {
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}
.main-header .personal-btn span a {
  color: #fff;
}
.main-header .personal-btn span a:hover {
  color: #418DE5;
}

.contact-form {
  padding: 70px 0;
}
.contact-form form {
  width: 420px;
  margin-top: 5px;
}
.contact-form form p {
  margin: 20px 0 0;
}
.contact-form form label {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
.contact-form form input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  font-size: 16px;
  height: 35px;
}
.contact-form form textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  height: 70px;
}
.contact-form form .btn {
  width: 130px;
  margin-top: 60px;
  border: none;
}
.contact-form form .btn:hover {
  cursor: pointer;
}
.contact-form form .jq-file {
  display: block;
}
.contact-form form .jq-file.focused .jq-file__name {
  border: 1px solid #418DE5;
}
.contact-form form .jq-file:hover .jq-file__browse {
  background: #418DE5;
}
.contact-form form .jq-file__name {
  border: 1px solid #418DE5;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}
.contact-form form .jq-file__browse {
  background: #418DE5;
  color: #ffffff;
  text-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  top: 0;
  right: 0;
  border-radius: 5px;
  padding-bottom: 1px;
  border: none;
}
.contact-form form .jq-file__browse:hover {
  cursor: pointer;
}

.main-footer {
  background: #F1F1F1;
  padding: 30px 0 60px;
}
.main-footer-social {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #8A8A8A;
}
.main-footer-social span {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
.main-footer-social ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.main-footer-social ul li {
  list-style: none;
  margin-left: 30px;
}
.main-footer-social ul li img {
  transform: translateY(2px);
}
.main-footer-social ul li:last-child img {
  transform: translateY(5px);
}
.main-footer-social ul a {
  display: block;
}
.main-footer-nav {
  margin-top: 25px;
}
.main-footer-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.main-footer-nav ul li {
  list-style: none;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.main-site h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  margin: 42px 0 0;
  color: #595959;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.main-site-desc {
  margin-top: 53px;
}
.main-site-desc p {
  font-weight: 300;
  font-size: 17px;
  line-height: 29px;
  margin: 0;
}
.main-site h2 {
  margin: 83px 0 0;
  font-size: 23px;
  line-height: 28px;
  color: #494949;
  text-align: center;
}
.main-site-alphabet {
  display: flex;
  width: 550px;
  margin: 5px auto 0;
  flex-wrap: wrap;
  justify-content: center;
}
.main-site-alphabet .symbol {
  flex-basis: 60px;
  margin-top: 15px;
}
.main-site-alphabet .symbol a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  font-size: 20px;
  color: #595959;
}
.main-site-alphabet .symbol a:hover {
  background: #595959;
  color: #fff;
}
.main-site-word {
  flex-basis: 33.33%;
}
.main-site-word a {
  color: #418DE5;
  font-size: 21px;
  line-height: 25px;
}
.main-site-word-list {
  margin: 50px 0 100px;
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
